*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
section{
    color: #1777BD;
}
.bggris{
    background: #f2f2f2;
    padding-top:  80px
}
.sidemenu{
    padding-top: 30px;
    height: 100vh;
    background-color: #fff;
    color: white;
    border:0px solid #f00;
}
.sidemenu .logo{
    color: #1777BD;
    background-color: white;
    align-items: center;
    display: flex;
    padding: 0;
    margin:  auto;
    text-align: center;
}
.sidemenu .logo p{
    padding: 10%;
    border-left: 4px solid #1777BD;
}
.sidemenu .indice,
.sidemenu .contacto{
    padding: 10% 40px 0;
}
.sidemenu .indice > div{
    border-top: 2px solid rgba(153,153,153,0.25);
    padding-top: 2px;
    padding-bottom:  20px; 
}
section h4,
header h4{
    font-weight: 700;
    margin-bottom: 0;
    color: #0071B9;
}
.sidemenu .indice h4 span,
.intro_noticia h4 span {
    color: #DD7B0E;
    margin-right: 3px;
    font-size: 20px;
}
.sidemenu li, .sidemenu li a {
	list-style: none;
    color: #666;
}
.sidemenu li a.naranja{
    color: #EA6D1B;
}
header{
	position: absolute;
	right: 0;
	padding: 0px;
    top:0;
    z-index: 5;
}
header h4{
	margin-top: 0;
	color: #0071B9;
}
header p{
	color: black;
}
#video_intro,
#intro img,
#retro{
    cursor: pointer;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.intro_noticia{
    padding: 7% 14%;
}
.intro_noticia h4 {
    font-size: 25px;
    margin-bottom: 15px;
}
p{
    color: #666;
}